# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

*.egg-info/
.eggs/

.pytest_cache/
.coverage
htmlcov/


# ==========================
# Environnement local
# ==========================

.venv/
venv/
env/


# ==========================
# Git
# ==========================

.git/
.gitignore


# ==========================
# Notebooks
# ==========================

notebooks/


# ==========================
# Tests locaux
# ==========================

tests/


# ==========================
# MLflow local
# ==========================

mlflow.db


# ==========================
# Données inutiles en production
# ==========================

data/production_logs/
data/monitoring/


# ==========================
# Fichiers système
# ==========================

*.log
.DS_Store
