# ==========================================
# Python virtual environment
# ==========================================
.venv/
venv/

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.so

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Environment variables
# ==========================================
.env

# ==========================================
# MLflow
# ==========================================
mlruns/

# ==========================================
# Pytest / Coverage
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Ruff / Black caches
# ==========================================
.ruff_cache/
.mypy_cache/

# ==========================================
# Logs
# ==========================================
*.log
logs/

# ==========================================
# Production monitoring data
# ==========================================
data/production_logs/

# ==========================================
# Operating system
# ==========================================
.DS_Store
Thumbs.db
*~

# ==========================================
# IDE (au cas où)
# ==========================================
.vscode/
.idea/

# ML data
*.parquet

# MLflow local
mlflow.db

# notebooks
notebooks/*.ipynb

# legacy
src/legacy_tests/
