# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# uv
uv.lock

# MLflow
mlruns/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Data
data/production_logs/

# OS
.DS_Store
Thumbs.db
